.container-input.text {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	position: relative;

	.icon {
		&.start {
			width: 20px;
			height: 20px;
			display: block;
			position: absolute;
			top: 42px;
			left: 11px;
			&.email { 
				background-image: url('../img/mail.svg');
			}
			&.eye { 
				background-image: url('../img/lock.svg');
			}
		}
		&.end {
			&.eye { 
				background-image: url('../img/lock.svg');
			}
		}
	}

	input[type=text]{
		transition: border-size .6s;
		&:focus {
			border: 1px solid var(--primary-color);

			&~ .email {background-image: url('../img/mail-focus.svg');}
			&~ .eye {background-image: url('../img/lock-focus.svg');}
		}
		padding: 12px 12px 12px 37px;
		border-radius: 4px;
		background-color: transparent;
		border: solid 1px var(--text-gray);
		color: var(--text-base);

	}

	label:not(.lembrar) {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 5px;
	}
}